<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>CareServlet</servlet-name>
        <servlet-class>Controllers.CareDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WaterServlet</servlet-name>
        <servlet-class>Controllers.WaterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiaryServlet</servlet-name>
        <servlet-class>Controllers.DiaryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TodatTaskServlet</servlet-name>
        <servlet-class>Controllers.TodayTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CareLogServlet</servlet-name>
        <servlet-class>Controllers.CareLogServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CareServlet</servlet-name>
        <url-pattern>/Care</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WaterServlet</servlet-name>
        <url-pattern>/Water</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HomeGardenServlet</servlet-name>
        <servlet-class>Controllers.HomeGardenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePlantServlet</servlet-name>
        <servlet-class>Controllers.DeletePlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPlantServlet</servlet-name>
        <servlet-class>Controllers.EditPlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPlantServlet</servlet-name>
        <servlet-class>Controllers.AddPlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>Controllers.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Controllers.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeGardenServlet</servlet-name>
        <url-pattern>/my-garden</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePlantServlet</servlet-name>
        <url-pattern>/delete-plant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPlantServlet</servlet-name>
        <url-pattern>/edit-plant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPlantServlet</servlet-name>
        <url-pattern>/add-plant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiaryServlet</servlet-name>
        <url-pattern>/Diary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TodatTaskServlet</servlet-name>
        <url-pattern>/TodayTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CareLogServlet</servlet-name>
        <url-pattern>/CareLog</url-pattern>
    </servlet-mapping>
</web-app>
